:root {
   --primary-color: #201b1b;
   --secondary-color: #2dadc4;
   --primary-font: monospace;

}

* {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: var(--primary-font);
    font-size: 20px;
}

header{
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    height: 100px;

}

#photo-logo {
    height: 60px;
    width: 60px;
    margin: 25px;
    position: absolute;
    left: 15px;
    border-radius: 15px;
    
}

h1{
   position:absolute; 
   left: 100px;
   top: 50px;
   font-size: 40px;
   margin: 0px 10px 0px 0px;
}

main {
    display:flex;
}

nav{
    display:flex;
    justify-content: flex-end;
    margin: 25px;
}
li {
    display:inline;
    margin: 25px;
}
aside{
    border: 5px solid red;
    display:flex;
    width:200px;
    height:100;
}
#main-section {
    border: 5px solid red;
    display:flex;
    padding:15px;
    width:100vw;
    flex-wrap: wrap;
    
    min-height: 750px;
    
}

card{
    border-style: solid;
    border-color: var(--secondary-color);
    width: 320px;
    height: auto;
    margin: 25px;
    z-index: 1;
    flex: 1 1 300px; 
       
}

.card-header{
    border-style: solid;    
    top: -50%;
    position: relative;
    top: -30px;
    margin: 10px 10px;
    z-index: 2;
    height: 30px;
    justify-content: center;
    border-radius: 6px;
}

.card-section{
  
    
    height: auto;
    width: 100%;     
    
     
    position: relative;
    top: -30px;   
    
    
}
.card-section div{
  
    display: flex;
    justify-content: center;
    padding: 10px 0 0 0;
   
      
}

h2{
    margin: 5px 0px 5px 15px;
}

footer {
    border: 5px solid red;
    height: 75px;
}

a {
    text-decoration: none;
}
p {
   margin: 15px 0 0 10px;
}

img{
    height:auto;
    width:75%;
    max-width: 500px;
    margin: auto;
}

#contact-info{
    font-size:150%;
    font-weight: bold;
}

#horiseon-card{
    flex: 2 2 700px;
}

#about-me-card{

}
/*
@media screen and (max-width: 900px) {
nav{
    flex-direction:column;
    justify-content: flex-start; 
}
li{
    display:block;
}
header{
    justify-content:flex-start;
}
main{
    
}
}
*/