:root {
   --primary-color: #201b1b;
   --secondary-color: #2dadc4;
   --tertiary-color: #2fff28; 
   --tertiary-color: white; 

   --primary-font: monospace;
   --test-border: 0px;

}

* {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: var(--primary-font);
    font-size: 20px;
}

header{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100px;

}

#name{
    height:63px;
    width: 285px;
    border: 5px solid var(--tertiary-color);
    margin-left:25px;
    margin-top: 25px;
    
}

#photo-logo {
    height: 60px;
    width: 60px;
    
    position: absolute;
    left: 40px;
    top: 40px;
    border-radius: 15px;
    
}



h1{
   position:absolute; 
   left: 100px;
   top: 50px;
   font-size: 40px;
   margin: 0px 10px 0px 0px;
}

main {
    display:flex;
    min-width:450px;
}

nav{
    display:flex;
    justify-content: flex-end;
    margin-top:50px; 
}

button {
    display:inline;
    margin-right: 25px;
    
}
aside {
    border: var(--tertiary-color) solid 3px;
    align-content: center;
    width: 350px;
    margin-top: 40px;
    margin-bottom: 40px;
    display:block;
    
}

aside p{
   margin-bottom:50px;
}

#avatar {
    height: auto;
    max-width: 300px;
    margin: 5px;
     
}

#main-section {
    border: var(--test-border) solid red;
    display:flex;
    padding:15px;
    width:100vw;
    flex-wrap: wrap;    
    min-height: 750px;
    
}

card{
    border-style: solid;
    border-color: var(--tertiary-color);
    width: 320px;
    height: auto;
    margin: 25px;
    z-index: 1;
    flex: 1 1 300px; 
       
}

.card-header{
    border-style: solid;    
    border-color: var(--tertiary-color);
    top: -50%;
    position: relative;
    top: -30px;
    margin: 10px 10px;
    z-index: 2;
    height: 30px;
    justify-content: center;
    border-radius: 6px;
}

.card-section{
  
    
    height: auto;
    width: 100%;     
    
     
    position: relative;
    top: -30px;   
    
    
}
.card-section div{
  
    display: flex;
    justify-content: center;
    padding: 10px 0 0 0;
   
      
}

h2{
    margin: 5px 0px 5px 15px;
}

footer {
    display: flex;
    align-items:center;
    border: var(--test-border) solid red; 
    height: 80px;
    border: 5px solid var(--tertiary-color);
}

#contact-info{
    font-size:150%;
    font-weight: bold;
   
    margin-left:5px;
    margin-right:5px;
    
}

a {
    text-decoration: none;
}
p {
   margin: 15px 0 0 10px;
}

#horiseon-image{
    height:auto;
    width:75%;
    max-width: 500px;
    margin: auto;
}


#horiseon-card{
    flex: 2 2 700px;
}

#about-me-card{

}


@media screen and (max-width: 1019px) {
header{
    justify-content:flex-end;
    height: auto;
    flex-direction:column;

}
nav{
    flex-direction: column;
    align-items:center;
    margin-top: 25px;
    margin-left: 100px;
}
button{
    margin-bottom:10px;
    
}
main{
    display:block;
}
aside{
    width: auto;
    
    
}

@media screen and (max-width: 515px){
    html{
        width: 515px;
        overflow: auto;
    }
  }
  
  }


